{% extends "index/base.html" %}
{% load static %}

{% block content %}

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home" style="background-image: url('{% static 'index/img/top.jpg' %}');">
        <div class="w3-display-bottomleft w3-container w3-sand w3-hover-light-grey" style="bottom:10%;opacity:0.7;width:70%">
            <h2><b>Inara</b></h2>
            <h6>artist / illustrator, wall painting designer </h6>
        </div>
    </header>

    <!-- About Section -->
    <div class="w3-container w3-padding-64" id="about">
        <h3 class="w3-center">About</h3><br>
        <div class="w3-col m6">
            <p>
                I was born in November 17th, 1969, Daugavpils <br/>
                In 1986 I was Graduated from Daugavpils Art Shool, and from 1987 to 1990 study in Latvian Academy of Art, Riga	 <br/>	
                I take my inspiretion from	David Hockney, Mark Chagall, Quentin Blake, Nele Zirnite, Alexander Calder	 <br/>		
                My professional Membership: Daugavpils Regional Association of Artist
            </p>
        </div>
        <div class="w3-col m6">
            <img src="{% static 'index/img/inara_2.jpg' %}" class="w3-round w3-image " alt="Inara" height="750">
        </div>
    </div>

    <!-- PAINTINGS Section -->
    <div class="w3-container w3-padding-64" id="akril">
        <h3 class="w3-center">PAINTINGS</h3>
        <div class="w3-row"  style="margin-bottom:128px">
            <div class="w3-third">
                {% for art in paint_list1 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in paint_list2 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small">{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in paint_list3 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>            
        </div>   
        <div  class="w3-center">
            <div class="w3-bar">
                <a  class="w3-button w3-block w3-white w3-border" href="/more/1">Show more</a>
            </div>
        </div>     
    </div>

    <!-- WATERCOLORS Section -->
    <div class="w3-container w3-padding-64" id="water">
        <h3 class="w3-center">WATERCOLORS</h3>
        <div class="w3-row"  style="margin-bottom:128px">
            <div class="w3-third">
                {% for art in water_list1 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in water_list2 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in water_list3 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div> 
        <div  class="w3-center">
            <div class="w3-bar">
                <a  class="w3-button w3-block w3-white w3-border" href="/more/2">Show more</a>
            </div>
        </div>       
    </div>

    <!-- GRAPHICS Section -->
    <div class="w3-container w3-padding-64" id="graph">
        <h3 class="w3-center">GRAPHICS</h3>
        <div class="w3-row"  style="margin-bottom:128px">
            <div class="w3-third">
                {% for art in graph_list1 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in graph_list2 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in graph_list3 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>   
        <div  class="w3-center">
            <div class="w3-bar">
                <a  class="w3-button w3-block w3-white w3-border" href="/more/3">Show more</a>
            </div>
        </div>     
    </div>

    <!-- DESIGN Section -->
    <div class="w3-container w3-padding-64" id="gesig">
        <h3 class="w3-center">DESIGN</h3>
        <div class="w3-row"  style="margin-bottom:128px">
            <div class="w3-third">
                {% for art in des_list1 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in des_list2 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in des_list3 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>  
        <div  class="w3-center">
            <div class="w3-bar">
                <a  class="w3-button w3-block w3-white w3-border" href="/more/4">Show more</a>
            </div>
        </div>      
    </div>

    <!-- prints Section -->
    <div class="w3-container w3-padding-64" id="prints">
        <h3 class="w3-center">PRINTS</h3>
        <div class="w3-row"  style="margin-bottom:128px">
            <div class="w3-third">
                {% for art in print_list1 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in print_list2 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-third">
                {% for art in print_list3 %}
                    <div class="w3-card-4 m3 w3-border" onclick="OpenArtModal('{{ art.photo}}', '{{ art.price}}', '{{ art.size}}', '{{ art.year}}', '{{ art.name}}');">
                        <img src="/artWorks/{{ art.photo }}" class="w3-round w3-image art-size" >
                        <div class="w3-container w3-center">
                            {% if art.art_status.id == 1 %}
                                <p class="w3-hide-medium w3-hide-large" style="font-size: xx-small;">{{ art.art_status }}</p>
                                <p class="w3-hide-small" >{{ art.art_status }}</p>
                            {% else %}
                                <p>{{ art.art_status }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>  
        <div  class="w3-center">
            <div class="w3-bar">
                <a  class="w3-button w3-block w3-white w3-border" href="/more/5">Show more</a>
            </div>
        </div>      
    </div>

    <!-- EXHIBITIONS Section -->
    <div class="w3-container w3-padding-64" id="exhebition">
        <h3 class="w3-center">Solo Exhibitions</h3>
        <p>
            2017 Mark Rothko Art Center, Daugavpils. Latvia<br/>
            2017 Kraziai art rezidence, Kraziu Motiejaus Kazimiero Sarbievijaus kulturos centras, Lithuania<br/>
            2017 Latgale art and craft center/ Livani glass museum, Latvia<br/>
            2017 “ 92 Degrees Coffe”, Liverpool<br/>
            2014 “Life love art” Galleri Gl. Lejre, Denmark<br/>
            2014 Latgale Central Library, Daugavpils, Latvia<br/>
            2013 Ecco Center, Denmark<br/>
            2009 Horsens, Denmark<br/>
            2009 Daugavpils University, Latvia<br/>
            2009 “Promen” Gallery, Daugavpils, Latvia 2008, 2005, 2002, 1999, 1997 Galleri GL. Lejre , Denmark 2007 Langes Ma-
            gasin, Frederikssund ,Denmark<br/>
            2005 “Lykkens Galocher”, Det Danske Kulturinstitut, Riga, Latvia<br/>
            2004 Russian Gallery, Vilnus, Lithuania<br/>
            2004 “Maksla XO” Gallery, Riga, Latvia<br/>
            2004 13th International Festival of Arts, “Slavianski Bazaar in Vitebsk, Belarus<br/>
            2003 AUL Gallery, Union of Latvia, Riga, Latvia
            1999, 1997,1996 Daugavpils, Latvia<br/>
            1991 “Krasts” Gallery , Rigas Modes Hall, Riga, Latvia<br/>
        </p> 
        <h3 class="w3-center">Group exhibitions:</h3>
            <p>   
            2017 Mark Rothko Art Center, Daugavpils, Latvia<br/>
            2017 Vitebsk Central Museum of Modern Art, Belarus<br/>
            2017 A. Suna art Gallery ,Riga, Latvia<br/>
            2016 ”Mixed Media”, Gl. Lejre, Denmark<br/>
            2016 Mark Rothko Art Center, “Untaitled”, Daugavpils, Latvia<br/>
            2016 “Bann” Art<br/>
            2016 Art festival, France<br/>
            2016 Axposition Assotiation “Az”arts, Chateau d ́Aubenas (Ardeshe), France<br/>
            2015 International group exhibition, Axon Cable, Montmirail, France<br/>
            2015 International Festival Art of Dolss “NukuKunst”, Tallinn, Estonia<br/>
            2015 Mala Makslas Centrs, Daugavpils, Latvia<br/>
            2015 Mala Makslas Centrs, Livani, Latvia<br/>
            2015 Mark Rothko Art Centre, “Klaunade”, Daugavpils, Latvia<br/>
            2014 Rokiskis Regional Museum, Lithuania<br/>
            2014 Art Herning, Galleri GL.Lejre, Denmark<br/>
            2012 International group exhibition, Mark Rothko Art Centre, Daugavpils, Latvia<br/>
            2012 Art Herning, Gl. Lejre, Denmark<br/>
            2009 Museum Marc Shagall, Vitebsk, Belarus<br/>
            2009 Project “Akvarelis.Akvarelists”, Rezekne, Latvia<br/>
            2009 “No gleznas izkapis”, with artist group “Kapec 5”, Daugavpils, Latvia<br/>
            2008 Project “Gleina”, Daugavpils, Latvia<br/>
            2007 Gallery “Manss”, Ekabpils, Latvia<br/>
            2007 Art Museum, Madona, Latvia<br/>
            2007 Group exhibition in Babrujsk, Homel, Minsk, Belarus<br/>
            2007 The International exhibition in Marc Chagall Art Center, Vitebsk, Belarus<br/>
            2007 International Graphic Festival”, St.Peterburg, Russia<br/>
            2006 International Bienale of Graphic, ”Maneze” Hall, St.Peterburg, Russia<br/>
            2006 Project A.Maevsky, Art Hall ,Riga, Latvia<br/>
            2005 “Mark Rothko”, International Plein Air, Daugavpils, Latvia<br/>
            2005 “MakslaXO” Gallery, Riga, Latvia<br/>
            2005,2003,2001,1999 Art Herning, Galleri Gl. Lejre, Denmark<br/>
            2004 City Museum, Preili, Latvia<br/>
            2004 City Museum, Kraslava, Latvia<br/>
            2004 Art Days, Daugavpils, Latvia<br/>
            2002 Galleri Gl. Lejre, Denmark<br/>
            2001,2000,1999,1998 Art Copenhagen, Galleri Gl. Lejre, Denmark<br/>
            1999 Art Days, Daugavpils, Latvia<br/>
            1999 Anger, France<br/>
            1999 Dusetas, Lithuania<br/>
            1999 Ribnic-Damg., Germany<br/>
            1998 “ X år” ,Galleri Gl. Lejre, Denmark<br/>
            1998 Zarasai, Lithuania<br/>
            1997 II International Marc Shagall Bienalle, Vitebsk, Belarus<br/>
            1993 “Plein Air in Sweden”, Riga, Latvia<br/>
            1992 Kunstmuseum, Visby, Sweden<br/>
            1992 Artists Union, Finspong, Sweden<br/>
            1991 “Artist from Daugavpils”, Rigas Modes Hall, Riga, Latvia<br/>
            1990 “Autumn 90” Exhibition Hall of States Museum of Art Arsenals, Riga, Latvia<br/>
        </p> 
    </div>
{% endblock %}
