.art-size{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/top.jpg");
  min-height: 100%;
}
body, html {
  height: 100%;
  line-height: 1.8;
}
